  <div class="modal fade" id="question-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exampleModalLabel">New question</h4>
        </div>
        <%= form_for :question, url: '/questions' do |f| %>
          <div class="modal-body">
              <div class="form-group">
                <%= f.label :email, class: "control-label" %>
                <%= f.text_field :email, required: true, class: "form-control"%>
              </div>
              <div class="form-group">
                <%= f.label :Question, class: "label-control"%>
                <%= f.text_area :body,required: true, class: "form-control" %>
              </div>       
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <%= f.submit "Submit", class: "btn btn-primary"%>
          </div>
        <%end%>
      </div>
    </div>
  </div>